* {

font-size: larger;
font-display: rgb(255, 255, 255);
font-family: Verdana, verdana, Tahoma, sans-serif;
font-style: normal;

}

body {

    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.911);
    margin: auto;
    padding: 200px;

}

h1 {
display: inline-block;
background-color: rgba(128, 255, 0, 0.479);
}

h2 {

    display: inline-block;
    background-color: azure;
    color: forestgreen;
}

main {

    
    width: 500px;
    margin: auto;
    padding: 10px;
}

img {

    height: 500px;
    width: 500px;
}
