* {

font-size: medium;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

body {

    background-color: rgb(0, 0, 0);

}

main {

    background-color: blanchedalmond;
    width: 500px;
    margin: auto;
    padding: 10px;
}